﻿@using EmployeeDirectory.Infrastructure
@model EmployeeDirectory.Features.Account.ChangePasswordForm
<div class="container">
    @{

        ViewBag.Title = "Change Password";
    }

    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.Input(x => x.CurrentPassword);
        @Html.Input(x => x.NewPassword);
        @Html.Input(x => x.ConfirmPassword);
       
        <div>
            @Html.SubmitButton("Change Password")
            @Html.CancelButton(Url.Action("Index", "Employee"))
        </div>
    }
</div>