﻿@using EmployeeDirectory.Infrastructure
@model EmployeeDirectory.Features.Account.LoginForm
<div class="container">
    @{
        //Layout = "~/Features/Shared/_loginLayout.cshtml";
        ViewBag.Title = "Login";
    }

    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.ValidationSummary("", new { @class = "alert-danger" })
        
        @Html.Input(x => x.Username)
        @Html.Input(x => x.Password)

        <div>
            @Html.SubmitButton("Log in")
        </div>
    }
</div>