﻿@using EmployeeDirectory.Infrastructure
@model EmployeeDirectory.Features.Employee.CreateEmployeeForm
<div class="container">
    @{

        ViewBag.Title = "Register New Employee";
    }

    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.Input(x => x.FirstName)
        @Html.Input(x => x.LastName)
        @Html.Input(x => x.Title)
        @Html.Input(x => x.Location)
        @Html.Input(x => x.Email)
        @Html.Input(x => x.PhoneNumber)
        @Html.Input(x => x.Username)
        @Html.Input(x => x.Password)
        @Html.Input(x => x.ConfirmPassword)


        <div>
            @Html.SubmitButton("Save")
            @Html.CancelButton(Url.Action("Index"))
        </div>
    }
</div>
