﻿@using EmployeeDirectory.Infrastructure
@model EmployeeDirectory.Features.Employee.EditProfileForm

<div class="container">
    @{

        ViewBag.Title = "Edit Profile";
    }

    <h2>Edit Profile</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.Input(x => x.Username)
        @Html.Input(x => x.FirstName)
        @Html.Input(x => x.LastName)
        @Html.Input(x => x.Title)
        @Html.Input(x => x.Location)
        @Html.Input(x => x.Email)
        @Html.Input(x => x.PhoneNumber)

        <div>
            @Html.SubmitButton("Save")
            @Html.CancelButton(Url.Action("Index"))
        </div>
    }
</div>