﻿@using EmployeeDirectory.Infrastructure
@model EmployeeDirectory.Features.Employee.EditEmployeeForm

<div class="container">
    @{

        ViewBag.Title = "Edit Employee";
    }

    <h2>Edit Employee</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.HiddenFor(x => x.Id)
        @Html.Input(x => x.Username)
        @Html.Input(x => x.FirstName)
        @Html.Input(x => x.LastName)
        @Html.Input(x => x.Title)
        @Html.Input(x => x.Location)
        @Html.Input(x => x.Email)
        @Html.Input(x => x.PhoneNumber)

        <div>
            @Html.SubmitButton("Save")
            @Html.CancelButton(Url.Action("Index"))
        </div>
    }
</div>
