﻿@using EmployeeDirectory.Infrastructure
@model EmployeeDirectory.Features.Employee.EmployeeViewModel[]

@{
    ViewBag.Title = "Employees";
}

<div class="container">

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Location</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Edit</th>
            @if (HasPermissionHelpers.HasDeletePermission())
            {
                <th>Delete</th>
            }
            @if (HasPermissionHelpers.HasSecurityPermission())
            {
                <th>Roles</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var employee in Model)
        {
            <tr id=@("row" + employee.Id)>

                <td>@employee.LastName, @employee.FirstName </td>
                <td> @employee.Title </td>
                <td> @employee.Location </td>
                <td> @employee.Email </td>
                <td> @employee.PhoneNumber </td>
               @if (HasPermissionHelpers.HasEditPermission())
               {
                   <td>
                       <a href="@Url.Action("Edit", new {employee.Id})">
                           <span class="glyphicon glyphicon-edit"></span></a>
                   </td>
               }
               else {
                    <td>
                        @if (HasPermissionHelpers.UsersIdForComparison() == employee.Id)
                        {
                        <a href="@Url.Action("EditProfile")">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        }
                    </td>
                    }


                @if (HasPermissionHelpers.HasDeletePermission())
                {
                    <td>
                        @if (HasPermissionHelpers.UsersIdForComparison() != employee.Id)
                        {
                            <a href="#" data-toggle="modal" data-target="#deleteModal" data-firstname="@employee.FirstName" data-lastname="@employee.LastName" data-employeeid="@employee.Id" data-url="@Url.Action("Delete", "Employee", new {employee.Id})">
                                <span class="glyphicon glyphicon-remove"></span>

                            </a>
                        }
                    </td>
                }
               
                 @if (HasPermissionHelpers.HasSecurityPermission())
                {
                    <td>
                        <a href="@Url.Action("Roles", new{employee.Id})">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>

    @if (HasPermissionHelpers.HasRegisterPermission())
    {
        @Html.Button("Register New Employee", Url.Action("Create"))
    }
</div>
