﻿@using EmployeeDirectory.Infrastructure
@model EmployeeDirectory.Features.Employee.SetRolesForm

<div class="container">
    @{

        ViewBag.Title = "Assign Roles For " + @Model.EmployeeName;
    }

    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        @Html.HiddenFor(x => x.Id)
        
        for (int i = 0; i < Model.Roles.Length; i++)
        {
           @Html.HiddenFor(x => x.Roles[i].RoleId)
           <div>
           @Html.CheckBoxFor(x => x.Roles[i].Selected) 
           @Html.LabelFor(x => x.Roles[i].Selected, Model.Roles[i].Name)
           </div>
        }


        <div>
            @Html.SubmitButton("Save")
            @Html.CancelButton(Url.Action("Index"))
        </div>
    }
</div>