﻿<!DOCTYPE html>
<html>
<head>
    <link href="/Content/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/Content/site.css" type="text/css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
</head>
<body>
<form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Confirm Deletion</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <p></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="deleteButton" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Employee")">Employees</a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="glyphicon glyphicon-user"></i> @User.Identity.Name<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("ChangePassword", "Account")">Change Password</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Logout", "Account")">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
}

@RenderBody()

<script src="/Scripts/jquery-1.9.1.min.js"></script>
<script src="/Scripts/bootstrap.min.js"></script>
<script src="/Scripts/Site.js"></script>

<script>

    

    $(function() {
        $("input[data-val-length-max]").each(function(index) {
            var maxlength = $(this).attr("data-val-length-max");
            $(this).attr("maxlength", maxlength);
        });
    });

    $(document).ready(function() {
        setRequired();
    });

    function setRequired() {
        var $form = $('form');
        $('form').find("[data-val-required]").each(function(index) {
            var $input = $(this);
            var requiredAsterisk = "<span class=\"required\"></span>";
            var id = $input.attr('id');
            var $label = $form.find("label[for='" + id + "']");
            if ($label.length > 0) {
                var html = $label.html() + "";
                if (html.indexOf(requiredAsterisk) <= 0) $label.html(html + requiredAsterisk);
            }
        });
    };


    $(document).ready(function() {
        $("span.field-validation-error").addClass("control-label");
        $("span.field-validation-error").parent().addClass("has-error");
    });


    $('#deleteModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget);
        console.log(button);
        var firstName = button.data('firstname');
        var lastName = button.data('lastname');
        var url = button.data('url');
        var id = button.data('employeeid');

        var modal = $(this);
        modal.find('.modal-title').text('Confirm Deletion');
        modal.find('.modal-body p').text('Are you sure you want to delete ' + firstName + " " + lastName + ' this action cannot be undone?');

        $('#deleteButton').on("click", function() {
            $.ajax({
                url: url,
                method: 'POST',
                data: AddAntiForgeryToken({ id: id })
            }).success(function() {
                $('#deleteModal').modal('hide');
                $('#row' + id).remove();

            });

        });
    });

    $('#deleteModal').on('hide.bs.modal', function(event) {
        $('#deleteButton').off("click");
    });


</script>

@RenderSection("scripts", required: false)
</body>
</html>


