﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error</title>
</head>
<body>
    <h1>Error.</h1>
    <h2>An error occurred while processing your request.</h2>
</body>
</html>
